# Default owners
* @williamchong256 @jpicchi18

# Frontend team
/frontend/* @vinaynagappala
/frontend/src/* @vinaynagappala
/frontend/src/settings/* @vinaynagappala

# AWS Amplify team
/frontend/amplify/* @Firius0408
/frontend/graphql/* @Firius0408
/frontend/src/amplify/* @Firius0408
/frontend/src/models/* @Firius0408